/* static/style.css */
body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.letter {
  border: 2px solid #999;
  padding: 8px 6px;
  width: 24px;
  display: inline-block;
  text-align: center;
  /*background-color: #333;
  color: #eee;*/
  background-color: #f7f4dc;
  color: #666;
}
#form, #results {
  margin: 1em 0;
}
.valid {
  color: rgb(21, 74, 220);
}
.invalid {
  color: red;
}
